stages:
  - build
  - test

variables:
  DEBIAN_FRONTEND: 'noninteractive'

default:
  interruptible: true
  before_script:
    - echo "Running job \"${CI_JOB_NAME}\" with the image \"${CI_JOB_IMAGE}\"..."
    # Select the correct compiler according to the image
    - |
      if [[ "$IMAGE" == gcc:* ]]; then
        export CC=gcc
        export CXX=g++
      elif [[ "$IMAGE" == silkeh/clang:* ]]; then
        export CC=clang
        export CXX=clang++
      else
        echo "Unknown compiler image: $IMAGE"
        exit 1
      fi
      echo "Using compiler: $CC / $CXX"
      $CC --version
      $CXX --version
    # Install the necessary libraries
    - |
      apt-get update && apt-get install -y cmake git python3.11 python3.11-distutils python3.11-venv
      update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.11 1
    - |
      git clone --branch release-1.12.0 --depth 1 https://github.com/google/googletest.git /tmp/googletest
      mkdir -p /tmp/googletest/build && cd /tmp/googletest/build
      cmake .. -DBUILD_SHARED_LIBS=ON -DCMAKE_INSTALL_PREFIX=/usr && make -j$(nproc) install
    - cd ${CI_PROJECT_DIR}
  after_script:
    - echo "Successfully completed job \"${CI_JOB_NAME}\" with the image \"${CI_JOB_IMAGE}\""

build:
  stage: build
  image: $IMAGE
  parallel:
    matrix:
      - IMAGE: ['gcc:12', 'gcc:13', 'gcc:14', 'gcc:15', 'silkeh/clang:17', 'silkeh/clang:18', 'silkeh/clang:19', 'silkeh/clang:20']
  script:
    - python3 -m venv venv
    - source venv/bin/activate
    - mkdir -p build install && cd build
    - cmake .. -DCMAKE_INSTALL_PREFIX=${CI_PROJECT_DIR}/install && make -j$(nproc) install
  artifacts:
    paths:
      - install/
      - venv/
    expire_in: 30 minutes

test:
  stage: test
  needs: [build]
  image: $IMAGE
  parallel:
    matrix:
      - IMAGE: ['gcc:12', 'gcc:13', 'gcc:14', 'gcc:15', 'silkeh/clang:17', 'silkeh/clang:18', 'silkeh/clang:19', 'silkeh/clang:20']
  script:
    - ./install/bin/unittests
    - source venv/bin/activate
    - pip3 install scikit-learn
    - python3 examples/PythonExample.py