stages:
  - build
  - test

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_BRANCH == 'master'

variables:
  DEBIAN_FRONTEND: "noninteractive"
  UPGRADE_PIP: "false"
  CMAKE_USE_DOUBLE_WEIGHT: "OFF"

default:
  interruptible: true
  before_script:
    - echo "Running job \"${CI_JOB_NAME}\" with the image \"${CI_JOB_IMAGE}\"..."
    # Select the correct compiler according to the image
    - |
      if [[ "${IMAGE}" == gcc:* ]]; then
        export CC=gcc
        export CXX=g++
      elif [[ "${IMAGE}" == silkeh/clang:* ]]; then
        export CC=clang
        export CXX=clang++
      elif [[ "${IMAGE}" == intel/oneapi-basekit:* ]]; then
        export CC=icx
        export CXX=icpx
      else
        echo "Unknown compiler image: ${IMAGE}"
        exit 1
      fi
      echo "Using compiler: $CC / $CXX"
      $CC --version
      $CXX --version
    # Install the necessary libraries
    - |
      apt-get update && apt-get install -y cmake git python3 python3-setuptools python3-venv
      echo "Using python: $(python3 --version)"
    - |
      git clone --branch release-1.12.0 --depth 1 https://github.com/google/googletest.git /tmp/googletest
      mkdir -p /tmp/googletest/build && cd /tmp/googletest/build
      cmake .. -DBUILD_SHARED_LIBS=ON -DCMAKE_INSTALL_PREFIX=/usr && make -j$(nproc) install
    # Create a unique identifier for the venv and install directories
    - |
      SAFE_IMAGE=$(echo "${IMAGE}" | tr ':/' '-')
      if [ "${CMAKE_USE_DOUBLE_WEIGHT}" = "ON" ]; then
        SAFE_IMAGE="${SAFE_IMAGE}_double_weight"
      elif [ "${UPGRADE_PIP}" = "true" ]; then
        SAFE_IMAGE="${SAFE_IMAGE}_upgraded_pip"
      fi
      echo "Unique identifier for the venv and install directories: ${SAFE_IMAGE}"
    - cd ${CI_PROJECT_DIR}
  after_script:
    - echo "Successfully completed job \"${CI_JOB_NAME}\" with the image \"${CI_JOB_IMAGE}\""

.image_list: &image_list
  - "gcc:12"
  - "gcc:13"
  - "gcc:14"
  - "gcc:15"
  - "silkeh/clang:17"
  - "silkeh/clang:18"
  - "silkeh/clang:19"
  - "silkeh/clang:20"
  - "intel/oneapi-basekit:2025.2.0-0-devel-ubuntu24.04"

.build_script: &build_script
  - python3 -m venv venv/${SAFE_IMAGE} && source venv/${SAFE_IMAGE}/bin/activate
  - |
    if [[ "$UPGRADE_PIP" != "false" ]]; then
      pip install --upgrade pip setuptools wheel
    fi
  - mkdir -p build/${SAFE_IMAGE} install/${SAFE_IMAGE} && cd build/${SAFE_IMAGE}
  - |
    cmake ${CI_PROJECT_DIR} \
      -DCMAKE_INSTALL_PREFIX=${CI_PROJECT_DIR}/install/${SAFE_IMAGE} \
      -DUSE_DOUBLE_WEIGHT=${CMAKE_USE_DOUBLE_WEIGHT}
  - make -j$(nproc)
  - make -j$(nproc) install
  - python3 -c "import PyFastBDT;print('PyFastBDT version:', PyFastBDT.__version__)"

.test_script: &test_script
  - source venv/${SAFE_IMAGE}/bin/activate
  - python3 -c "import PyFastBDT.FastBDT as FastBDT;print('PyFastBDT uses float for weights:', FastBDT._is_weight_float)"
  # Run the unit tests
  - ./install/${SAFE_IMAGE}/bin/fastbdt-unittests
  # Run all the main examples
  - cd ${CI_PROJECT_DIR}/examples
  - |
    ${CXX} IRISExample.cxx -o IRISExample -O3 \
      -l FastBDT_static \
      -L ${CI_PROJECT_DIR}/install/${SAFE_IMAGE}/lib \
      -I ${CI_PROJECT_DIR}/install/${SAFE_IMAGE}/include
    ./IRISExample iris.csv
  - python3 iris_example.py iris.csv
  - python3 generic_example.py

build:
  stage: build
  image: ${IMAGE}
  parallel:
    matrix:
      - IMAGE: *image_list
  script: *build_script
  artifacts:
    paths:
      - install/
      - venv/
    expire_in: 30 minutes

build-with-upgraded-pip:
  stage: build
  image: ${IMAGE}
  parallel:
    matrix:
      # One image is enough. The first one in the list above is selected.
      - IMAGE: "gcc:12"
  variables:
    UPGRADE_PIP: "true"
  script: *build_script


build-with-double-weight:
  stage: build
  image: ${IMAGE}
  parallel:
    matrix:
      # One image is enough. The first one in the list above is selected.
      - IMAGE: "gcc:12"
  variables:
    CMAKE_USE_DOUBLE_WEIGHT: "ON"
  script: *build_script
  artifacts:
    paths:
      - install/
      - venv/
    expire_in: 30 minutes

test:
  stage: test
  needs:
    - job: build
      artifacts: true
  image: $IMAGE
  parallel:
    matrix:
      - IMAGE: *image_list
  script: *test_script

test-with-double-weight:
  stage: test
  needs:
    - job: build-with-double-weight
      artifacts: true
  image: $IMAGE
  parallel:
    matrix:
      # One image is enough. The first one in the list above is selected.
      - IMAGE: "gcc:12"
  variables:
    CMAKE_USE_DOUBLE_WEIGHT: "ON"
  script: *test_script