stages:
  - build
  - test

variables:
  DEBIAN_FRONTEND: "noninteractive"
  PYTHON_VERSION: "3.11"
  PYTHON_VERSION_FOR_INTEL: "3.12"
  UPGRADE_PIP: "false"

.image_list: &image_list
  - "gcc:12"
  - "gcc:13"
  - "gcc:14"
  - "gcc:15"
  - "silkeh/clang:17"
  - "silkeh/clang:18"
  - "silkeh/clang:19"
  - "silkeh/clang:20"
  - "intel/oneapi-basekit:2025.2.0-0-devel-ubuntu24.04"

.build_script: &build_script
  - |
    if [[ "$UPGRADE_PIP" != "false" ]]; then
      pip install --upgrade pip setuptools wheel
    fi
  - mkdir -p build install && cd build
  - cmake .. -DCMAKE_INSTALL_PREFIX=${CI_PROJECT_DIR}/install
  - make -j$(nproc) install

default:
  interruptible: true
  before_script:
    - echo "Running job \"${CI_JOB_NAME}\" with the image \"${CI_JOB_IMAGE}\"..."
    # Select the correct compiler according to the image
    - |
      if [[ "${IMAGE}" == gcc:* ]]; then
        export CC=gcc
        export CXX=g++
      elif [[ "${IMAGE}" == silkeh/clang:* ]]; then
        export CC=clang
        export CXX=clang++
      elif [[ "${IMAGE}" == intel/oneapi-basekit:* ]]; then
        export CC=icx
        export CXX=icpx
        export PYTHON_VERSION=${PYTHON_VERSION_FOR_INTEL}
      else
        echo "Unknown compiler image: ${IMAGE}"
        exit 1
      fi
      echo "Using compiler: $CC / $CXX"
      $CC --version
      $CXX --version
    # Install the necessary libraries
    - |
      apt-get update && apt-get install -y cmake git \
        python${PYTHON_VERSION} python3-setuptools python${PYTHON_VERSION}-venv
      update-alternatives --install /usr/bin/python3 python3 /usr/bin/python${PYTHON_VERSION} 2
      echo "Using python: $(python3 --version)"
    - |
      git clone --branch release-1.12.0 --depth 1 https://github.com/google/googletest.git /tmp/googletest
      mkdir -p /tmp/googletest/build && cd /tmp/googletest/build
      cmake .. -DBUILD_SHARED_LIBS=ON -DCMAKE_INSTALL_PREFIX=/usr && make -j$(nproc) install
    - cd ${CI_PROJECT_DIR}
    - python3 -m venv venv && source venv/bin/activate
  after_script:
    - echo "Successfully completed job \"${CI_JOB_NAME}\" with the image \"${CI_JOB_IMAGE}\""

build:
  stage: build
  image: ${IMAGE}
  parallel:
    matrix:
      - IMAGE: *image_list
  script: *build_script
  artifacts:
    paths:
      - install/
      - venv/
    expire_in: 30 minutes

build-with-upgraded-pip:
  stage: build
  image: ${IMAGE}
  parallel:
    matrix:
      # One image is enough. The first one in the list above is selected.
      - IMAGE: "gcc:12"
  variables:
    UPGRADE_PIP: "true"
  script: *build_script

test:
  stage: test
  needs: [build]
  image: $IMAGE
  parallel:
    matrix:
      - IMAGE: *image_list
  script:
    - ./install/bin/unittests
    - python3 examples/PythonExample.py